<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>665016454480-j15e69sq94dcf3egab6e99bdgnfqfaba.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.665016454480-j15e69sq94dcf3egab6e99bdgnfqfaba</string>
	<key>API_KEY</key>
	<string>AIzaSyD4TdTIHwddpaIBq0wlR6KBhxabjvVuzwY</string>
	<key>GCM_SENDER_ID</key>
	<string>665016454480</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.smlsoft.thai7merchant</string>
	<key>PROJECT_ID</key>
	<string>thai7-5453f</string>
	<key>STORAGE_BUCKET</key>
	<string>thai7-5453f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:665016454480:ios:f10c2a16255b82c7333055</string>
</dict>
</plist>